@import url('./reset.css');
@import url('./base.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 50px;
  justify-content: center;

  padding: 0;
  margin: 0;
}

.gallery-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.gallery-item {
  width: 360px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info {
  padding: 2px;
  text-align: center;
  display: flex;
  gap: 5px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-btn {
  background-color: #4e75ff;
  color: #fff;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.search-btn:hover {
  background-color: #6c8cff;
}

.search {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}
